<div class="header">
  <div class="headerImageContainer">
    <img src="./assets/images/nice.png" alt="logo" class="headerImage" />
  </div>
  <div class="headerCurrencies">
    <p-card class="currencyBlock">
      <data [value]="date">
        Up to date {{ date | date: 'dd.MM.yyyy HH:mm' }}
      </data>
    </p-card>
    <p-card class="currencyBlock">
      1 USD = {{ usd | truncateDecimal }} UAH
    </p-card>
    <p-card class="currencyBlock">
      1 EUR = {{ eur | truncateDecimal }} UAH
    </p-card>
  </div>
</div>
